h1{
  display: inline;
}
#cartImg{
  width: 7%;
  height: 7%;
margin-left: 50%;
}
.menuButton{
  width: 200px;
}
#menuBT1{
  background-color: #1a1aff;
  color: white;
  font-size: 20px;
}
#menuBT2{
  font-size: 20px;
  color: white;
  background-color: #1a1aff;
  opacity: 0.3;
}
#menuBT3{
  color: white;
  font-size: 20px;
  background-color: #1a1aff;
  opacity: 0.3;
}
#menuBT4{
  color: white;
  font-size: 20px;
  background-color: #1a1aff;
  opacity: 0.3;
}
.menuImg{
  float:left;
}

#grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.amountText{
  width: 15px;
}

.amountDownBtn{
  width: 15%;
  height: 15%;
}
 .amountUpBtn{
   width: 15%;
   height: 15%;
 }
